.head {
    font-size: 125%;
    color: black;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

.box {
    height: auto;
    width: 200px;
    padding: 20px;
    padding-bottom: 30px;
    margin: auto;
    
    border: 1px solid rgb(217, 218, 219);
    background-color: rgb(248, 249, 250);
    box-shadow: 0px 0px 3px #fefefe;
}
.login {
    margin: 100px;
    text-align: center;
}

.boxhead {
    color: black;
    text-align: center;
    margin: 10px;
}

button {
    padding: 5px 5px;
    cursor: pointer;
    margin: 15px 0 15px 67%;
    
}

button:hover {
    opacity: .8;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    background-color: #fefefe;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 2px;

}

span.altsign {
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
}

body
{
    background-color: #fefefe;
}